form {
  text-align: center;
  background-color: white;
  border-radius: 7px;
  padding-top: 40px;
  padding-bottom: 25px;
}

button {
  margin: 10px;
  align-self: center;
}

li {
  color:black;
}

body {
  background-image: url("/Users/connor/Desktop/pig-dice/img/gamblingPig2.png");
  background-size: cover;
}

.nav {
  margin-top: 5px;
  margin-left: 30px;
  border-color: black;
  background-color: white;
  border-radius: 3px;
}

.nav:hover {
  background-color: rgb(245, 141, 140);
  border-color: black;
}
#link {
  text-align: center;
}

#imgL {
  width: 70px;
  height: auto;
  margin-right: 20%;
}

#imgR {
  width: 70px;
  height: auto;
  margin-left: 20%;
}

.page-header {
  margin-top: 0;
  border-bottom: 0;
}

.jumbotron{
  text-align: center;
  font-size: 4em;
  background-color: #ffa4a3;
  margin-top: 0;
  padding: 40px;
}
.col-md-5 {
  border: 1px solid black;
  background-color: white;
  margin-top: 15px;
}

.showTurnTotal {
  display: none;
  font-size: 200%;
}

.gameStuff {
  display: none;
  background-color: white;
}

#navBarList {
  font-size: 1.2em;
  cursor: pointer;
  color: white;

}

#navBarList:hover {
  text-decoration: underline;

}

#rollResult {
  border: 2px solid black;
  display: none;
  background: white;
  text-align: center;
  font-size: 3em;
}

#turnTotalStuff {
  text-align: center;

}

#turnTotal {
    text-align: center;
    border: 2px solid black;
    font-size: 3em;
}

#player1Display {
  display: none;
  text-align: center;
  border: 2px solid black;
  color: white;
  background-color: black;
}

#player2Display {
  display: none;
  text-align: center;
  border: 2px solid black;
  color: white;
  background-color: black;
}

.row {
  text-align: center;
}

.btn {
  background-color: #ffa4a3;
  border-color: black;
}

.btn-primary:hover {
  color:#fff;
  background-color: rgb(245, 141, 140);
  border-color:black;
}
